{% extends "baseGeneric.html" %}

{% block title %}
    Especialidades
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Especialidad</th>
                <th scope="col">Especialidad</th>
                <th scope="col">ID Carrera</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{object.id_especialidad}}</td>
                <td>{{object.especialidad}}</td>
                <td>{{object.id_carrera}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}